//DEFAULT STYLE//
.top-line{
	position: relative;
	height: 88px;
	background-color: #262626;
	@include clearfix;
	&__logo{
		display: inline-block;
		@include MQ(sm) {
			
		}
		@include MQ(xs) {
			display: block;
			float: none;
			text-align: center;
			margin-left: 0;
			margin-top: 15px;
		}
	}
	&__shop{
		font-family: 'EMprint-Regular', 'Roboto', sans-serif;
		font-size: 18px;
		display: block;
		background: transparent;
		color: #fff;
		text-align: center;
		padding: 8px 15px;
		margin: 20px 0;
		border: solid 1px #ffffff;
		&:hover{
			background: #fff;
			border: solid 1px #ffffff;
			color: #000 !important;
		}
		@include MQ(sm) {
			margin-right: 10px;
		}
		@include MQ(xs) {
			float: none;
			font-size: 1em;
			margin-right: 0;
		}
		&:hover{
			color: #fff;
		}
	}
}

.top-line.update-page{
	background: transparent;
}

.top-banner{
	position: relative;
	&__img{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.header{
	position: relative;
}

.header-update{
	background: url(https://fast.ulmart.ru/ns/verstka/mobil-bz/img/update-header-bg.jpg)no-repeat top center;
	height: 668px;
	background-size: cover;
	&__title{
		font-family: 'EMprint-Semibold';
		font-size: 53px;
		line-height: 0.8;
		color: #fff;
		margin-top: 73px;
		margin-bottom: 30px;
		text-align: center;
		&-desc{
			font-family: 'EMprint-Regular';
			font-size: 30px;
			line-height: 1.1;
			color: #fff;
			text-align: center;
			margin-bottom: 60px;
		}
	}

	&__item{
		text-align: center;
		color: #fff;
		a{
			color: #fff;
			&:hover{
				color: #0c469c;
			}
		}
		&-picture{
			padding-bottom: 12px;
		}
		&-text{
			font-family: 'EMprint-Semibold';
			font-size: 25px;
			line-height: 1.1;
		}
	}
}

.banner{
	&-item{
		text-align: left;
		padding-top: 100px;
		min-height: 649px;
		&-1{
			background: url(https://fast.ulmart.ru/ns/verstka/mobil-bz/img/banner-item-bg1.png)no-repeat center center;
			background-size: cover;
			.banner-title{
				color: #000;
				margin-bottom: 10px;
			}
			.banner-text{
				color: #000;
				font-size: 30px;
				line-height: 1.2;
			}
		}
		&-2{
			background: url(https://fast.ulmart.ru/ns/verstka/mobil-bz/img/banner-item-bg2.png)no-repeat center center;
			background-size: cover;
		}
		&-3{
			background: url(https://fast.ulmart.ru/ns/verstka/mobil-bz/img/banner-item-bg3.png)no-repeat center center;
			background-size: cover;
		}
		&-4{
			background: url(https://fast.ulmart.ru/ns/verstka/mobil-bz/img/banner-item-bg4.jpg)no-repeat center center;
			background-size: cover;
		}
	}
	&-title{
		font-family: 'EMprint-Semibold';
		font-size: 52px;
		line-height: 1.1;
		font-weight: 600;
		color: #fff;
		text-align: left;
		margin-bottom: 15px;
		&--mod{
			text-align: left;
			margin-bottom: 50px;
			sup{
				top: -2em;
				font-size: 25%;
			}
		}
	}
	&-text{
		font-family: 'EMprint-Regular';
		font-size: 20px;
		line-height: 1.25;
		color: #fff;
		text-align: left;
		margin-bottom: 50px;
	}
	&-link{
		@extend .transport-btn;
		color: #000;
		border: 2px solid #000;
		padding: 13px 67px;
		&-white{
			@extend .banner-link;
			color: #fff;
			border: 2px solid #fff;
			&:focus{
				background: #fff !important;
				border: 2px solid #fff !important;
				color: #000 !important;
				text-decoration: underline;
			}
			&:hover{
				background: #fff !important;
				border: 2px solid #fff !important;
				color: #000 !important;
			}
		}
		&:hover{
			background: #000;
			color: #fff;
			border: 2px solid #000;
		}
		&:focus{
			background: #000;
			color: #fff;
			border: 2px solid #000;
			text-decoration: underline;
		}
	}
}

.slider{
	display: block;
	position: relative;
	width: 100%;
}

.banner-logo-mobil{
	margin-bottom: 25px;
	width: 191px !important;
	height: 40px;
}

.owl-theme .owl-nav.disabled+.owl-dots{
	position: absolute;
	bottom: 40px;
	width: 100%;
	margin: 0 auto;
}

.owl-theme .owl-dots .owl-dot span{
	width: 53px;
	height: 6px;
	background: #fff;
	border-radius: 100px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #e4222c;
}