@font-face {
		font-family: 'EMprint-Bold';
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Bold.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Bold.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Bold.woff2') format('woff2'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Bold.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Bold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'EMprint-Light';
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Light.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Light.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Light.woff2') format('woff2'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Light.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Light.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'EMprint-Regular';
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Regular.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Regular.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Regular.woff2') format('woff2'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Regular.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'EMprint-Semibold';
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Semibold.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Semibold.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Semibold.woff2') format('woff2'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Semibold.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/mobil_promo_0717/fonts/EMprint-Semibold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}