/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1900px) {
	
}
@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1200px) {
	.b-section-1:after,.b-section-2:after, .b-section-3:after, .b-section-4:after{
		display: none;
	}
	.header-update__title{
		font-size: 44px;
	}
	.update-goods-grid__img{
		width: 130px;
	}
	.update-goods-grid__title, .update-goods__title{
		font-size: 22px;
	}
	.top-line__shop{
		padding: 8px 5px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	// .animated {
	// 	/*CSS transitions*/
	// 	-o-transition-property: none !important;
	// 	-moz-transition-property: none !important;
	// 	-ms-transition-property: none !important;
	// 	-webkit-transition-property: none !important;
	// 	transition-property: none !important;
	// 	/*CSS transforms*/
	// 	-o-transform: none !important;
	// 	-moz-transform: none !important;
	// 	-ms-transform: none !important;
	// 	-webkit-transform: none !important;
	// 	transform: none !important;
	// 	/*CSS animations*/
	// 	-webkit-animation: none !important;
	// 	-moz-animation: none !important;
	// 	-o-animation: none !important;
	// 	-ms-animation: none !important;
	// 	animation: none !important;
	// }

	.top-line__shop{
		font-size: 14px;
	}
	.banner-title{
		font-size: 38px;
	}
	.transport__img-right-inner, .transport__img-left{
		display: none;
	}

	.transport-text{
		font-size: 23px;
	}
	.passenger-find__title{
		margin-bottom: 30px;
	}
	.commercial-main-banner{
		height: 1000px;
		background-size: cover;
	}
	.banner-mobil-devlac{
		position: relative;
		top: 35px;
	}

	.update-title{
		font-size: 38px;
		margin-bottom: 10px;
	}
	.update-text{
		font-size: 20px;
		margin-bottom: 35px;
	}

	.passenger-goods__title{
		font-size: 26px;
		margin-bottom: 10px;
	}
	.passenger-goods__text{
		height: 200px;
	}
	.passenger-goods__img{
		margin-right: 0;
		margin-bottom: 20px;
	}
	.passenger-find__btn-mod{
		margin-left: 0;
	}
	.commercial-goods-wrapper{
		margin-bottom: 50px;
	}

	//Update page
	.b-section{
		padding: 40px 0;
	}
	.b-section-1{
		height: 870px;
	}
	.b-section-2{
		height: 670px;
	}
	.b-section-3{
		height: 500px;
	}
	.b-section-4{
		height: 500px;
	}
	.b-section__title{
		font-size: 30px;
		margin-bottom: 30px;
	}
	.b-section__desc{
		font-size: 22px;
		margin-bottom: 20px;
	}
	.header-update__title{
		font-size: 30px;
		line-height: 1.1;
		margin-top: 0;
	}
	.header-update__title-desc{
		font-size: 28px;
		margin-bottom: 25px;
	}
	.header-update__item{
		margin-bottom: 20px;
	}
	.header-update__item-text{
		font-size: 20px;
	}
	.b-section__note{
		font-size: 21px;
		margin-top: 40px;
		line-height: 1.2;
	}
	.update-goods-grid__img{
		margin: 0 auto;
	}
	.update-goods-grid__wrap-inner{
		flex-basis: 100%;
		text-align: center;
	}


}

@media only screen and (max-width : 600px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 740px) {
	.top-line__shop{
		margin-bottom: 0;
	}
	.owl-carousel .owl-item{
		height: 230px;
	}
	.owl-theme .owl-dots .owl-dot span{
		width: 46px;
		height: 4px;
	}
	.banner-item-1 .banner-text{
		font-size: 15px;
		display: block;
	}
	.banner-item{
		min-height: 230px;
		padding-top: 10px;
	}
	.banner-text{
		display: none;
	}
	.banner-title{
		font-size: 18px;
	}
	.banner-text{
		font-size: 9px;
		margin-bottom: 20px;
	}
	.banner-link-white{
		padding: 8px 30px !important;
	}
	.banner-link, .banner-link-white{
		width: 100%;
		padding: 8px 30px !important;
	}
	.owl-theme .owl-nav.disabled+.owl-dots{
		bottom: 10px;
	}
	.transport-section{
		display: none;
		
	}
	.transport-section-mobile{
		display: block;
		padding: 20px 5px 30px 5px;
	}
	.top-line{
		height: auto;
		text-align: center;
		padding: 10px 0;
	}
	.top-line__shop {
		font-size: 13px;
		padding: 7px 5px;
		margin-bottom: 0;
	}
	.top-line__logo{
		margin: 0;
		text-align: right;
	}
	.transport-section-passenger-mobile{
		background: #000;
		color: #fff;
	}
	.transport-section-commercial-mobile{
		background: #f8cc00;
		color: #000;
	}
	.transport-left{
		text-align: left;
	}
	.transport__img-left-mob{
		position: absolute;
		top: 30px;
		right: -20px;
	}
	.transport__img-right-mob{
		position: absolute;
		top: 13px;
		right: -20px;
	}
	.transport-logo{
		margin-bottom: 10px;
		img{
			height: 20px;
		}
	}
	.transport-title{
		font-size: 20px;
		line-height: 1;
		margin-bottom: 5px;
	}
	.transport-text{
		font-size: 13px;
		line-height: 1.15;
		margin-bottom: 15px;
	}
	.transport-btn{
		font-size: 13px;
		line-height: .7;
		padding: 8px 8px;
	}
	.transport-right{
		padding-left: 0;
	}

	.passenger-banner{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.passenger-banner__title{
		font-size: 20px;
	}
	.passenger-banner__text{
		font-size: 12px;
		margin-bottom: 10px;
	}
	.passenger-banner__img-one{
		top:0;
	}
	.goods-section{
		padding: 25px 0 15px;
	}
	.passenger-goods-wrapper{
		margin-bottom: 40px;
	}
	.passenger-goods__img img{
		height: 150px;
		margin-right: 10px;
	}
	.passenger-goods__title{
		font-size: 18px;
	}
	.passenger-goods__text{
		height: auto;
		font-size: 12px;
		margin-bottom: 10px;
	}
	.passenger-goods__text-block{
		flex-basis: 54%;
	}
	.passenger-goods__link{
		font-size: 20px;
		display: block;
		padding: 5px 0px;
	}
	.passenger-find__btn{
		display: block;
		padding: 2px 0px;
		font-size: 21px;
	}
	.passenger-find{
		padding-top: 20px;
	}
	.passenger-find__title{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.passenger-find__title span{
		font-size: 14px;
	}
	.commercial-main-banner{
		padding-top: 20px;
	}
	.commercial-main-banner{
		height: auto;
	}
	.commercial-main-banner__title{
		font-size: 18px;
	}
	.commercial-main-banner__product{
		height: 200px;
		margin: 0 auto;
	}
	.commercial-goods-section{
		padding: 20px 0 0;
	}
	.banner-mobil-devlac{
		top: 0;
	}
	.commercial-goods-wrapper{
		margin-bottom: 40px;
		display: flex;
	}
	.commercial-goods__img img{
		height: 150px;
		margin-right: 10px;
	}
	.commercial-goods__title{
		font-size: 18px;
	}
	.commercial-goods__text{
		height: auto;
		font-size: 12px;
		margin-bottom: 12px;
	}
	.commercial-section{
		padding-bottom: 40px;
	}
	.update-section{
		background: url(https://fast.ulmart.ru/ns/verstka/mobil-bz/img/update-section-bg-mob.jpg) center center no-repeat;
		background-size: cover;
		height: auto;
		min-height: auto;
		padding: 20px 0;
		height: 239px;
	}
	.update-title{
		font-size: 20px;
		margin-bottom: 4px;
		line-height: 1;
	}
	.update-text{
		font-size: 13px;
		margin-bottom: 16px;
		line-height: 1.1;
	}
	.update-btn{
		display: block;
		font-size: 13px;
		padding: 7px;
		width: 140px;
	}
	.footer-slogan{
		font-size: 12px;
		line-height: 2;
	}





	//Update page mobile
	.b-section-1, .b-section-2, .b-section-3, .b-section-4{
		height: auto;
	}
	.b-section__title{
		font-size: 26px;
		margin-bottom: 20px;
	}
	.b-section__desc{
		font-size: 16px;
	}
	.header-update{
		height: auto;
	}
	.top-line.update-page{
		height: auto;
		text-align: center;
		padding: 10px 0;
	}
	.header-update__title{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.header-update__title-desc{
		font-size: 14px;
	}
	.header-update__item-text{
		font-size: 18px;
	}
	.footer{
		background-repeat: repeat;
		height: auto;
	}
	.socials{
		justify-content: flex-start;
		margin: 10px 0 10px 0;
	}
	.socials-item{
		margin-right: 13px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
